<footer class="footer fcc">
    <ul class="ftr-menu">
        <li class="ftr-menu-item">
            <a href="/about" class="ftr-menu-option">About</a>
        </li>
        <li class="ftr-menu-item">
            <a href="/portfolio" class="ftr-menu-option">Portfolio</a>
        </li>
        <li class="ftr-menu-item">
            <a href="/resume" class="ftr-menu-option">Resume</a>
        </li>
        <li class="ftr-menu-item">
            <a href="/blog" class="ftr-menu-option">Blog</a>
        </li>
        <li class="ftr-menu-item">
            <a href="/contact" class="ftr-menu-option">Contact</a>
        </li>
    </ul>

    <div class="sm-icon-div">
        <a href="https://www.linkedin.com/in/vijaykvgan" target="_blank" rel="noopener noreferrer"><img class="sm-icon"
                src="/assets/img/icons/social/li.png" alt="linkedin-icon"></a>

        <a href="https://discord.gg/C4HSFYN" target="_blank" rel="noopener noreferrer"><img class="sm-icon"
                src="/assets/img/icons/social/discord.png" alt="discord-icon"></a>

        <a href="https://twitter.com/vijaykvgan" target="_blank" rel="noopener noreferrer"><img class="sm-icon"
                src="/assets/img/icons/social/twitter.png" alt="twitter-icon"></a>

        <a href="https://www.youtube.com/user/Tejaswi88" target="_blank" rel="noopener noreferrer"><img class="sm-icon"
                src="/assets/img/icons/social/yt.png" alt="youtube-icon"></a>

        <a href="/contact"><img class="sm-icon" src="/assets/img/icons/social/email.png" alt="email"></a>
    </div>

    <div class="owner-info">&copy; Owned and maintained by Vijay Ganaraju</div>
</footer>
