<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000"/>
    <meta name="keywords" content="Vijay Kumar Varma Ganaraju, Vijay Ganaraju, About, Instagram, Twitter, Passion, Personality, Fun Facts, Say hello, Favorite movies, Favorite albums, Books" />
    <meta name="description" content="A short but lucid detail about the personality traits, goals, quirks and likes of Vijay Kumar Varma Ganaraju" />

    <title>About Me</title>
    
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="apple-touch-icon" href="assets/img/logo/black_bgw_192.png">
    <link rel="icon" href="assets/img/logo/White30.png" type="image/x-icon">

    <link rel="stylesheet" href="assets/styles/common.css">
    <link rel="stylesheet" href="assets/styles/about.css">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <a class="skip-link" href="#container">Skip to Page Contents</a>

    <nav class="navbar">
        <a href="/" class="logo nav-item">
            <img class="logo-img" src="assets/img/logo/black50px.png" alt="logo">
        </a>
    
        <ul id="menu" class="menu nav-item">
            <li class="menu-item mobile-specific close-option">
                <span id="menuNavButton" onclick="viewMenu()" class="material-icons nav-button">menu</span>
            </li>
            <li class="menu-item mobile-specific">
                    <a href="/" class="menu-option">Home</a>
            </li>
            <li class="menu-item current-page">
                <a href="about" class="menu-option">About</a>
            </li>
            <li class="menu-item">
                <a href="portifolio" class="menu-option">Portifolio</a>
            </li>
            <li class="menu-item">
                <a href="resume" class="menu-option">Resume</a>
            </li>
            <li class="menu-item">
                <a href="blog" class="menu-option">Blog</a>
            </li>
            <li class="menu-item">
                <a href="contact" class="menu-option">Contact</a>
            </li>
        </ul>
    
        <div class="mobile-menu-button nav-item">
            <span id="pageNavButton" onclick="viewMenu()" class="material-icons nav-button">menu</span>
        </div>
    
    </nav>

    <main id="container" class="container limit-page fcc">
        <div class="about-div nav-top">

                <section class="about-info">
                    <h1 class="about-title page-title small-frc">About Me</h1>
                    <div class="my-personality-title heading small-frc">My Personality</div>
                    <div class="my-personality-desc desc">
                        I am a passionate student. I am a little socially anxious but I can work my way out and adapt to any work dynamic. I am never afraid of asking the right questions or being an overt critique. I am also a compassionate person who is always willing to learn from others or spread my knowledge. One thing I am guilty of, is my pursuit for perfection. It can detrimental sometimes but it made me what I am today.
                    </div>
                    <div class="common-button-div">
                        <a href="blog" class="common-button frc about-contact">Blog</a>
                    </div>
                    <div class="my-passion-title heading small-frc">My Passion</div>
                    <div class="my-passion-desc desc">
                        Whenever I encounter a complex problem, I want to dissect it to the atomic level and learn the fundamentals. It can be a software one, economic one or a mechanical one. Maybe that's the reason I'm more into DIYs. Also, I am optimistic and enthusiastic about future. So, I am learning as much as I can to survive and indulge tomorrow. I am never hesitant to learn anything new about Space, AI, Extended realities etc.
                    </div>
                    <div class="common-button-div">
                        <a href="portifolio" class="common-button frc about-portifolio">Portifolio</a>
                    </div>
                    <div class="fun-facts-title heading small-frc">Fun Facts About Me</div>
                    <div class="fun-facts-desc desc">
                        I broke my legs 4 times.
                        I believe in pouring the milk before cereal.
                        I hate fruits(all of them).
                    </div>
                    <div class="common-button-div">
                        <a href="contact" class="common-button frc about-contact">Contact Me</a>
                    </div>
                </section>
        
                <section class="trivia">
                    <div class="books-trivia trivia-div">
                        <div class="heading books-title small-frc">Books I&apos;m Curretly Reading</div>
        
                        <div class="trivia-items-div">
                            <a href="https://www.goodreads.com/book/show/39088592-the-model-thinker" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/books/mt.jpg" alt="The Model Thinker" class="books trivia-item">
                            </a>
                            <a href="https://www.goodreads.com/book/show/38589832-accessory-to-war" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/books/atw.jpg" alt="Accessory To War" class="books trivia-item">
                            </a>
                            <a href="https://www.goodreads.com/book/show/3028.Economics_in_One_Lesson" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/books/eiol.jpg" alt="Economics in One Lesson"
                                    class="books trivia-item">
                            </a>
                        </div>
        
                    </div>
        
                    <div class="movies-trivia trivia-div">
                        <div class="heading movies-title small-frc">My All-Time Favorite Movies</div>
        
                        <div class="trivia-items-div">
                            <a href="https://www.imdb.com/title/tt0050083/" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/movies/12am.jpg" alt="12 Angry Men" class="movies trivia-item">
                            </a>
                            <a href="https://www.imdb.com/title/tt0075314/" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/movies/td.jpg" alt="Taxi Driver" class="movies trivia-item">
                            </a>
                            <a href="https://www.imdb.com/title/tt0432283/" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/movies/fmf.jpg" alt="Fantastic Mr. Fox" class="movies trivia-item">
                            </a>
                            <a href="https://www.imdb.com/title/tt0361748/" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/movies/ib.jpg" alt="Inglorious Basterds" class="movies trivia-item">
                            </a>
                        </div>
        
                        <a class="link" href="https://letterboxd.com/vjmix/films/" target="_blank" rel="noopener noreferrer">
                            My watched movies list (not complete)
                            <span class="material-icons">
                                open_in_new
                            </span>
                        </a>
                    </div>
        
                    <div class="music-trivia trivia-div">
                        <div class="heading music-title small-frc">My Holy Grail of Music</div>
        
                        <div class="trivia-items-div">
                            <a href="https://open.spotify.com/album/6t7956yu5zYf5A829XRiHC" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/albums/mmlp.jpg" alt="The Marshall Mathers LP"
                                    class="movies trivia-item">
                            </a>
                            <a href="https://open.spotify.com/album/3WFTGIO6E3Xh4paEOBY9OU" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/albums/808s.jpg" alt="808s &amp; Heartbreak"
                                    class="movies trivia-item">
                            </a>
                            <a href="https://open.spotify.com/album/4m2880jivSbbyEGAKfITCa" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/albums/ram.jpg" alt="Random Access Memories"
                                    class="movies trivia-item">
                            </a>
                            <a href="https://open.spotify.com/album/7ycBtnsMtyVbbwTfJwRjSP" target="_blank" rel="noopener noreferrer">
                                <img src="assets/img/about/albums/tpab.jpg" alt="To Pimp A Butterfly"
                                    class="movies trivia-item">
                            </a>
                        </div>
        
                    </div>
        
        
                </section>
        
                <section class="ctoa fcc">
                    <div class="desc">Drop a &quot;Hello&quot; in my DM on</div>
                    <div class="ctoa-items fcc">
                        <button class="link" onclick="redirectSocial('tw')">
                            Twitter
                            <span class="material-icons">
                                open_in_new
                            </span>
                        </button>
        
                        <button class="link" onclick="redirectSocial('in')">
                            Instagram
                            <span class="material-icons">
                                open_in_new
                            </span>
                        </button>
                    </div>
        
        
                </section>
        
        </div>
        
    </main>
    
    <footer class="footer fcc">
        <ul class="ftr-menu">
            <li class="ftr-menu-item">
                <a href="about" class="ftr-menu-option">About</a>
            </li>
            <li class="ftr-menu-item">
                <a href="portifolio" class="ftr-menu-option">Portifolio</a>
            </li>
            <li class="ftr-menu-item">
                <a href="resume" class="ftr-menu-option">Resume</a>
            </li>
            <li class="ftr-menu-item">
                <a href="blog" class="ftr-menu-option">Blog</a>
            </li>
            <li class="ftr-menu-item">
                <a href="contact" class="ftr-menu-option">Contact</a>
            </li>
        </ul>
    
        <div class="sm-icon-div">
            <a href="https://www.linkedin.com/in/vijay-ganaraju-2a0982126/" target="_blank" rel="noopener noreferrer"><img class="sm-icon" 
                    src="assets/img/icons/social/li.png" alt="linkedin-icon"></a>
    
            <a href="https://discord.gg/C4HSFYN" target="_blank" rel="noopener noreferrer"><img class="sm-icon" src="assets/img/icons/social/discord.png"
                    alt="discord-icon"></a>
    
            <a href="https://twitter.com/vijaykvganaraju" target="_blank" rel="noopener noreferrer"><img class="sm-icon"
                    src="assets/img/icons/social/twitter.png" alt="twitter-icon"></a>
    
            <a href="https://www.youtube.com/user/Tejaswi88" target="_blank" rel="noopener noreferrer"><img class="sm-icon"
                    src="assets/img/icons/social/yt.png" alt="youtube-icon"></a>
    
            <a href="mailto:a@a.com"><img class="sm-icon" src="assets/img/icons/social/email.png" alt="email"></a>
        </div>
    
        <div class="owner-info">&copy; Owned and maintained by Vijay Kumar Varma Ganaraju</div>
    </footer>

    <!-- scripts -->
    <script src="assets/scripts/common.js"></script>
    <script src="assets/scripts/about.js"></script>

</body>

</html>