<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta name="keywords" content="Vijay Kumar Varma Ganaraju, Vijay Ganaraju, contact success" />
    <meta name="description" content="Contact Success page" />


    <title>Message Sent</title>

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-icon" href="/assets/img/logo/black_bgw_192.png">
    <link rel="icon" href="/assets/img/logo/White30.png" type="image/x-icon">

    <link rel="stylesheet" href="/assets/styles/common.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <%- include('partials/header') %>

    <main id="container" class="container limit-page">

        <header class="nav-top">
            <h1 class="page-title">Message sent successfully!</h1>
            <p class="desc">Thanks for the message/query. I will reply you as soon as possible.</p>
            <p class="desc ">For more details, Go to <a href="/" class="action">Homepage</a>!</p>

        </header>
    </main>

    <%- include('partials/footer') %>

    <!-- scripts -->
    <script src="/assets/scripts/common.js"></script>
</body>

</html>
