<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta name="keywords" content="Vijay Kumar Varma Ganaraju, Vijay Ganaraju, Error page" />
    <meta name="description" content="An error page for bad requests" />


    <title>Error</title>

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-icon" href="/assets/img/logo/black_bgw_192.png">
    <link rel="icon" href="/assets/img/logo/White30.png" type="image/x-icon">

    <link rel="stylesheet" href="/assets/styles/common.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <%- include('partials/header') %>

    <main id="container" class="container limit-page">
        <header class="nav-top">
            <h1 class="page-title">Oops...</h1>
            <p class="heading">Something's wrong, I can feel it.</p>
            <p class="desc"><%= errorMessage %></p>
            <p class="desc">You have two options now. Go <input type="button" value="Back" class="action" onclick="history.back(-1)"> or Go <a href="/" class="action">Home</a>!</p>
        </header>


    </main>

    <%- include('partials/footer') %>

    <!-- scripts -->
    <script src="/assets/scripts/common.js"></script>
</body>

</html>
