<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta name="keywords" content="Vijay Kumar Varma Ganaraju, Vijay Ganaraju, Portfolio, Works, Projects, Applications, Android Apps, Websites, Front end, Back end, Databases, API, Machine Learning, Computer Vision, 3D modelling, Video Editing, Augmented Reality, Virtual Reality, AR VR" />
    <meta name="description" content="A collection of Vijay Ganaraju's works, projects and contributions with links to some of them" />


    <title>Portfolio</title>

    <link rel="manifest" href="manifest.webmanifest">
    <link rel="apple-touch-icon" href="assets/img/logo/black_bgw_192.png">
    <link rel="icon" href="assets/img/logo/White30.png" type="image/x-icon">

    <link rel="stylesheet" href="assets/styles/common.css">
    <link rel="stylesheet" href="assets/styles/portfolio.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <a class="skip-link" href="#container">Skip to Page Contents</a>
    
    <nav class="navbar">
        <a href="/" class="logo nav-item">
            <img class="logo-img" src="assets/img/logo/black50px.png" alt="logo">
        </a>

        <ul id="menu" class="menu nav-item">
            <li class="menu-item mobile-specific close-option">
                <span id="menuNavButton" onclick="viewMenu()" class="material-icons nav-button">menu</span>
            </li>
            <li class="menu-item mobile-specific">
                    <a href="/" class="menu-option">Home</a>
            </li>
            <li class="menu-item">
                <a href="about" class="menu-option">About</a>
            </li>
            <li class="menu-item current-page">
                <a href="portfolio" class="menu-option">Portfolio</a>
            </li>
            <li class="menu-item">
                <a href="resume" class="menu-option">Resume</a>
            </li>
            <li class="menu-item">
                <a href="blog" class="menu-option">Blog</a>
            </li>
            <li class="menu-item">
                <a href="contact" class="menu-option">Contact</a>
            </li>
        </ul>

        <div class="mobile-menu-button nav-item">
            <span id="pageNavButton" onclick="viewMenu()" class="material-icons nav-button">menu</span>
        </div>

    </nav>
    
    <main id="container" class="container limit-page">

        <div id="modal" class="modal" onclick="closeModal()">
            <span class="material-icons close">close</span>
            <img class="modal-content" id="displayImg">
            <div id="caption" class="caption"></div>
            <div class="disclaimer">Images are uploaded in compressed formats for faster loading times</div>
        </div>
        
        <header class="title-div nav-top small-frc">
            <h1 class="page-title">Portfolio</h1>
        </header>

        <section class="ai" id="ai">
            <header class="title-div small-frc">
                <h2 class="heading">
                    Deep Learning 
                </h2>
            </header>
            <div class="projects">
                <a id="ai1" class="project fcc" href="https://github.com/vijaykvganaraju/gan-statues/blob/master/gan.ipynb" target="_blank"
                rel="noopener noreferrer">
                <img src="assets/img/portfolio/ai/gan_statues.jpg" alt="GAN for University of Dayton Statues" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">GAN to Generate University Statues from Outline Images</p>
                    </div>
                </a>

                <a id="ai2" class="project fcc" href="https://github.com/vijaykvganaraju/rtod" target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/portfolio/ai/rtod.jpg" alt="Real-Time Object Detection" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Real-Time Object Detection</p>
                    </div>
                </a>

                <a id="ai3" class="project fcc" href="https://github.com/vijaykvganaraju/birds-classification" target="_blank"
                    rel="noopener noreferrer">
                    <img src="assets/img/portfolio/ai/birds.jpg" alt="Birds Classification" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Birds Classification and Visualization using TensorBoard</p>
                    </div>
                </a>
            </div>
        </section>

        <section class="web" id="web">
            <header class="title-div small-frc">
                <h2 class="heading">
                    Web Technologies
                </h2>
            </header>
            <div class="projects">
                <a id="web7" class="project fcc" href="https://bitbucket.org/cca-zhengy6-ganarajuv1/cca-project/src/sprint3"
                    target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/portfolio/web/chatapp.jpg" alt="Live Chat Web App" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Live Chat Web App</p>
                    </div>
                </a>
                
                <a id="web6" class="project fcc" href="https://github.com/vijaykvganaraju/my-website" target="_blank"
                    rel="noopener noreferrer">
                    <img src="assets/img/portfolio/web/mysite.jpg" alt="My Own Website" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">My Own Website</p>
                    </div>
                </a>

                <a id="web5" class="project fcc" href="https://github.com/harikesh409/elevar" target="_blank"
                    rel="noopener noreferrer">
                    <img src="assets/img/portfolio/web/elevar.jpg" alt="Elevar" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Elevar Fest (Frontend)</p>
                    </div>
                </a>

                <a id="web4" class="project fcc" href="https://github.com/harikesh409/resume-builder" target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/portfolio/web/resume.jpg" alt="Resume Genrator" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Resumé Builder (Frontend &amp; Backend)</p>
                    </div>
                </a>

                <a id="web3" class="project fcc" href="https://github.com/vijaykvganaraju/rest-shop" target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/portfolio/web/rest.jpg" alt="RESTful Service" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">REST API for Shopping</p>
                    </div>
                </a>
                
                <a id="web2" class="project fcc" href="https://github.com/vijaykvganaraju/basic-programs-in-js" target="_blank"
                    rel="noopener noreferrer">
                    <img src="assets/img/portfolio/web/basics.jpg" alt="Basic Problems" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Basic CS Problems</p>
                    </div>
                </a>

                <a id="web1" class="project fcc" href="https://github.com/vijaykvganaraju/basic-tictactoe" target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/portfolio/web/tictactoe.jpg" alt="Tictactoe" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Tic-Tac-Toe</p>
                    </div>
                </a>
        </section>
        
        <section class="iot" id="iot">
            <header class="title-div small-frc">
                <h2 class="heading">
                    Internet of Things
                </h2>
            </header>
            <div class="projects">
                <a id="iot1" class="project fcc" href="https://github.com/vijaykvganaraju/autocar" target="_blank" rel="noopener noreferrer">
                    <img src="assets/img/portfolio/iot/autocar.jpg" alt="Obstacle Avoiding Rover" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Obstacle Avoiding Rover</p>
                    </div>
                </a>
        
        </section>

        <section class="artwork" id="artwork">
            <header class="title-div small-frc">
                <h2 class="heading">
                    Artwork
                </h2>
            </header>
            <div class="projects">

                <button id="art1" class="project fcc" onclick="enlarge(this.id)">
                    <img src="assets/img/portfolio/artwork/farewell.jpg" alt="Farewell Banner" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Farewell Banner</p>
                    </div>    
                </button>

                <button id="art2" class="project fcc" onclick="enlarge(this.id)">
                    <img src="assets/img/portfolio/artwork/ibm_hackathon.jpg" alt="IBM Hackathon Banner" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Hackathon Banner</p>
                    </div>
                </button>

                <button id="art3" class="project fcc" onclick="enlarge(this.id)">
                    <img src="assets/img/portfolio/artwork/elevar_brochure.jpg" alt="Elevar Brochure" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Elevar Brochure</p>
                    </div>
                </button>

                <button id="art4" class="project fcc" onclick="enlarge(this.id)">
                    <img src="assets/img/portfolio/artwork/ieee_banner.jpg" alt="IEEE Banner" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">IEEE Banner</p>
                    </div>    
                </button>
            </div>
        </section>

        <section class="modelling" id="modelling">
            <header class="title-div small-frc">
                <h2 class="heading">
                    3D Modelling
                </h2>
            </header>
            <div class="projects">
                <button id="model1" class="project fcc" onclick="enlarge(this.id)">
                    <img src="assets/img/portfolio/3d/glass.jpg" alt="Mostly Empty" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Mostly Empty</p>
                    </div>
                </button>

                <button id="model2" class="project fcc" onclick="enlarge(this.id)">
                    <img src="assets/img/portfolio/3d/donut.jpg" alt="Donut Meal" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Donut Meal</p>
                    </div>
                </button>

                <button id="model3" class="project fcc" onclick="enlarge(this.id)">
                    <img src="assets/img/portfolio/3d/top.jpg" alt="Spinning Top" class="project-img">
                    <div class="img-overlay">
                        <p class="project-name">Spinning Top</p>
                    </div>
                </button>
            </div>

        </section>

        <section class="ctoa frc">
            <a class="link stretch" href="resume">
                Check out my qualifications in my Resumé
                <span class="material-icons">arrow_forward_ios</span>
            </a>
            
        </section>

    </main>

    
    <footer class="footer fcc">
        <ul class="ftr-menu">
            <li class="ftr-menu-item">
                <a href="about" class="ftr-menu-option">About</a>
            </li>
            <li class="ftr-menu-item">
                <a href="portfolio" class="ftr-menu-option">Portfolio</a>
            </li>
            <li class="ftr-menu-item">
                <a href="resume" class="ftr-menu-option">Resume</a>
            </li>
            <li class="ftr-menu-item">
                <a href="blog" class="ftr-menu-option">Blog</a>
            </li>
            <li class="ftr-menu-item">
                <a href="contact" class="ftr-menu-option">Contact</a>
            </li>
        </ul>

        <div class="sm-icon-div">
            <a href="https://www.linkedin.com/in/vijay-ganaraju-2a0982126/" target="_blank"
                rel="noopener noreferrer"><img class="sm-icon"  src="assets/img/icons/social/li.png"
                    alt="linkedin-icon"></a>

            <a href="https://discord.gg/C4HSFYN" target="_blank" rel="noopener noreferrer"><img class="sm-icon"
                    src="assets/img/icons/social/discord.png" alt="discord-icon"></a>

            <a href="https://twitter.com/vijaykvganaraju" target="_blank" rel="noopener noreferrer"><img
                    class="sm-icon" src="assets/img/icons/social/twitter.png" alt="twitter-icon"></a>

            <a href="https://www.youtube.com/user/Tejaswi88" target="_blank" rel="noopener noreferrer"><img
                    class="sm-icon" src="assets/img/icons/social/yt.png" alt="youtube-icon"></a>

            <a href="/contact"><img class="sm-icon" src="assets/img/icons/social/email.png" alt="email"></a>
        </div>

        <div class="owner-info">&copy; Owned and maintained by Vijay Kumar Varma Ganaraju</div>
    </footer>



    <!-- scripts -->
    <script src="assets/scripts/common.js"></script>
    <script src="assets/scripts/portfolio.js"></script>

</body>

</html>