@import url('https://fonts.googleapis.com/css?family=Bitter|PT+Serif|Open+Sans|Open+Sans:600|Roboto+Slab&display=swap');


@media only screen and (min-width: 900px) {

    .link {
        border: 1px solid #ffffff;
    }

    .link:hover {
        color: #000000;
        border: 1px solid #00000020;
    }
}



@media only screen and (min-width: 320px) and (max-width: 899px) {

    .link {
        border: 1px solid #00000020;
        border-radius: 4px;
    }
}


.trivia-div {
    margin-bottom: 10px;
}

.trivia-div .link {
    color: #000000;
}

.trivia-items-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.trivia-item {
    width: 160px;
    margin: 5px;
    border-radius: 4px;
}

/* links */

.link {
    font-family: 'Roboto Slab', serif;
    border-radius: 4px;
    font-size: 1rem;
    padding: 10px 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.link .material-icons {
    font-size: 1rem;
}

/* end of links */

/* call to action */

.ctoa {
    height: 300px;
    
}

.ctoa-items:hover {
    color: #00000090;
}

.ctoa-link {
    margin-bottom: 10px;
}

/* end of call to action */
