@import url('https://fonts.googleapis.com/css?family=Bitter|PT+Serif|Open+Sans|Open+Sans:600|Roboto+Slab&display=swap');

@media only screen and (min-width: 900px) {

}

@media only screen and (min-width: 320px) and (max-width: 900px) {

}

.blog-preview {
    padding: 20px 0;
    border-bottom: 1px solid #00000020;
}

.subject {
    font-size: 1rem;
    font-family: 'Bitter', serif;
    margin-bottom: 10px;
}

.datetime {
    color: #2e2e2e;
    font-size: 0.7rem;
    font-family: 'Open Sans', serif;
    margin-bottom: 10px;
}

.tags-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tag {
    font-size: 0.8rem;
    font-family: 'Open Sans', serif;
    color: #000000;
    background-color: #ececec;
    padding: 1px 5px;
    margin-right: 5px;
    border-radius: 4px;
}

.read-more-div {
    margin-top: 1em;
}


.read-more {
    font-size: 1rem;
    color: #000000;
}

.read-more:hover {
    text-decoration: underline;
}

.pages-navigation {
    margin: 1em 0;
    display: flex;
}

.prev-div, .prev-link {
    float: right;
}

.next-div, .next-link {
    float: left;

}

.prev-link, .next-link {
    color: #000000;
}

.prev-link:hover, .next-link:hover {
    text-decoration: underline;
}