@import url('https://fonts.googleapis.com/css?family=Bitter|PT+Serif|Open+Sans|Open+Sans:600|Roboto+Slab&display=swap');


@media only screen and (min-width: 900px) {

    .project {
        border: 1px solid #00000020;
    }

    .project-name {
        position: absolute;
        color: #ffffff;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Open Sans', serif;
        opacity: 0;

        transition: 0.3s all ease-in-out;
    }

    .img-overlay {
        position: absolute;
        background-color: #00000090;
        width: 100%;
        height: 100%;

        opacity: 0;

        transition: 0.3s all ease-in-out;

    }

    .project:hover .img-overlay, .project:hover .project-name, .project:focus .img-overlay, .project:focus .project-name {
        opacity: 1;
    }

    .project:hover .project-name, .project:focus .project-name {
        top: 50%;
    }

    .modal-content {
        margin: 50px auto;
        width: 80%;
    }

    .caption {
        margin-top: 1em;
    }

    .link {
        border: 1px solid #ffffff;
    }

    .link:hover {
        color: #000000;
        border: 1px solid #00000020;
    }

}



@media only screen and (min-width: 320px) and (max-width: 900px) {

    .project {
        border: none;
    }

    .project-img {
        border-radius: 4px;
    }

    .project-name {
        position: absolute;
        color: #000000;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.8rem;
        width: 100%;

    }

    .modal-content {
        margin-top: 50px;
        width: 100%;
    }

    .caption {
        margin: auto;
    }

    .link {
        border: 1px solid #00000020;
        border-radius: 4px;
    }                                       
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 4px;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: #ffffff;
}


.project-img {
    width: 210px;
}

.project-name {
    font-family: 'Open Sans', serif;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #00000090;   
}

.modal-content {
    display: block;
    max-width: 900px;
}

.caption {
    color: #ffffff;
    font-family: 'Open Sans', serif;
    font-size: 1.2rem;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1rem;
    transition: 0.3s;
    color: #ffffff;
    cursor: pointer;       
}

.disclaimer {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-family: 'Open Sans', serif;
    font-size: 0.8rem;
    font-style: italic;
    color: #ffffff;
    flex-wrap: wrap;
}

.link {
    font-family: 'Roboto Slab', serif;
    border-radius: 4px;
    font-size: 1rem;
    padding: 10px 5px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link .material-icons {
    font-size: 1rem;
}


section {
    margin-bottom: 15px;
}