@import url('https://fonts.googleapis.com/css?family=Bitter|PT+Serif|Open+Sans|Open+Sans:600|Roboto+Slab&display=swap');

@media only screen and (min-width: 900px) {

}

@media only screen and (min-width: 320px) and (max-width: 899px) {

}



/* body content of blog */

.content {
    font-size: 1rem;
    font-family: 'Bitter', serif;
}

.blog-body {
    margin-bottom: 1em;
}

/* end of body content of blog */

/* navigation buttons */
.blog-navigation {
    padding: 1em 0;
}

.prev-blog, .prev-page {
    float: right;
}

.next-blog, .next-page {
    float: left;
}

.prev-page, .next-page {
    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem;
    color: #000;
}

.prev-page:hover, .next-page:hover {
    text-decoration: underline;
}

/* end of navigation buttons */

/* tags */
.tags-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em 0;
}

.tag {
    font-size: 0.8rem;
    font-family: 'Open Sans', serif;
    color: #000000;
    background-color: #ececec;
    padding: 1px 5px;
    margin-right: 5px;
    border-radius: 4px;
}

/* end of tags */

.datetime {
    color: #2e2e2e;
    font-size: 0.8rem;
    font-family: 'Open Sans', serif;
    margin-bottom: 10px;
}