@import url('https://fonts.googleapis.com/css?family=Bitter|PT+Serif|Open+Sans|Open+Sans:600|Roboto+Slab&display=swap');

@media only screen and (min-width: 900px) {

    /* navbar */
    .navbar {
        padding: 0 0;
        align-items: center;
        width: 100%;
    }

    .logo, .mobile-menu-button {
        min-width: 100px;
        padding: 5px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .menu {
        margin: 0;
        width: 100%;
        display: inline-block;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu-item {
        margin: 0 1.5em;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        transition: all 0.3s ease-in-out;
    }

    .menu-item:hover {
        border-bottom: 1px solid #000000;
        cursor: pointer;
    }

    .menu-option {
        display: block;
        font-size: 1.2rem;
        padding: 1em 0.2em;         
    }

    .mobile-menu-button {
        display: flex;
        flex-direction: row;
        visibility: hidden;
    }

    .mobile-specific {
        display: none;
    }

    .current-page {
        border-bottom: 1px solid #00000060;
    }
    /* end of navbar */

    /* footer */

    .ftr-menu-item {
        font-size: 1.2rem;
        padding: 0.5em 2em;
        text-align: center;
    }

    /* end of footer */

    /* button */

    .common-button {
        background: none;
        border: 1px solid #000000;
        border-radius: 4px;
        width: 200px;
        padding: 20px 0;
        margin: 0 30px;
        cursor: pointer;
        
        font-family: 'Open Sans', serif;
        font-size: 0.8rem;
        text-decoration: none;
        color: #000000;
        transition: all 0.3s ease-in-out;
    }

    .common-button:hover {
        background-color: #000000;
        color: #ffffff;

    }

    .common-button-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        margin: 10px 0;

    }

    /* end of button */

    .big-frc {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .big-fcc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .limit-page {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .page-title {
        font-family: 'PT Serif', serif;
        font-size: 3rem;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .heading {
        font-family: 'PT Serif', serif;
        font-size: 1.5rem;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .desc {
        font-family: 'Bitter', serif;
        font-size: 1rem;
        flex-wrap: wrap;
        margin-bottom: 10px;

    }

    .big-stretch {
        flex: auto;
    }

}

@media only screen and (min-width: 320px) and (max-width: 900px) {
    /* navbar */
    .navbar {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        padding: 0.5em 0;
    }

    .nav-item {
        margin: 0;
    }
    
    .logo {
        margin-left: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .mobile-menu-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1em;

    }

    .menu {
        display: none;
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: #ffffff;
        align-items: center;
        overflow: hidden;
    }

    .menu-item {
        font-size: 1.5rem;
        padding: 10px 0;
        text-align: center;
    }


    .nav-button {
        cursor: pointer;
    }

    .current-page {
        font-weight: 600;
    }

    /* end of navbar */

    /* footer */

    .ftr-menu-item {
        font-size: 1rem;
        padding: 0.5em 1em;
        min-width: 80px;
    }

    /* end of footer */

    /* button */

     .common-button {
        background: none;
        border: 1px solid #000000;
        border-radius: 4px;
        padding: 10px 40px;
        cursor: pointer;
        margin-bottom: 10px;
        text-align: center;
        min-width: 200px;

        font-family: 'Open Sans', serif;
        font-size: 0.8rem;
        text-decoration: none;
        color: #000000;
        transition: all 0.3s ease-in-out;
    }

    .common-button:hover {
        background-color: #000000;
        color: #ffffff;
    }

    .common-button-div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 0;
        

        flex-wrap: wrap;
    }

    /* end of button */

    .small-frc {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .small-fcc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .limit-page {
        padding: 0 20px;
    }

    .page-title {
        font-family: 'PT Serif', serif;
        font-size: 2rem;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .heading {
        font-family: 'PT Serif', serif;
        font-size: 1.5rem;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .desc {
        font-family: 'Bitter', serif;
        font-size: 1rem;
        flex-wrap: wrap;
        margin-bottom: 10px;

    }

    .small-stretch {
        flex: auto;
    }

}

/* navbar */

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0 2px 5px #00000010;
}

.logo-img {
    width: 30px;
}

.nav-top {
    padding-top: 70px;
}

.menu-option {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;


}
/* end of navbar */

/* footer */

footer {
    height: 300px;
    background-color: #000000;
}

.ftr-menu-option {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
}

.ftr-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.ftr-menu-option:hover {
    color: rgba(255, 255, 255, 0.6);
}

.sm-icon-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.sm-icon {
    width: 25px;
    padding: 10px 10px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin: 5px 20px;
    transition: all 0.3s ease-in-out;
}

.sm-icon:hover {
    border: 1px solid #ffffff;
}

.owner-info {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Open Sans', serif;
    font-size: 0.7rem;
    padding-top: 1em;
    text-align: center;
    flex-wrap: wrap;


}
/* end of footer */

 /* skip-link  */

 .skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #00000090;
  color: #ffffff;
  padding: 8px;
  z-index: 3;
  font-size: 0.8rem;
  font-family: 'Open Sans', serif;
}

.skip-link:focus {
  top: 0;
}

 /* end of skip-link */

.container {
    min-height: calc(100vh - 300px);
    z-index: 1;
}

.stretch {
    flex: auto;
    width: 100%;
}

.frc {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 { 
    font-weight:normal;
    margin: 0;
}

h2 { 
    font-weight:normal;
    margin: 0;
}

body, p, ul {
    margin: 0;
    padding: 0;
    
}

* {
    list-style-type: none;
    text-decoration: none;
}

*:focus {
     outline: thin dotted;
}